html {
    box-sizing: border-box;
    background: #FFE4B5;
    font-family: 'helvetica neue';
    font-size: 20px;
    font-weight: 200;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  
.header {
    color: #6E6551;
}

h1 {
    font-family: 'Sniglet', cursive;
    font-weight: 800;
    text-shadow: 1px 2px white;
    margin: 10px;
}

p {
    font-family: 'Sniglet', cursive;
    font-weight: 800;
    font-size: 18px;
    margin: 5px;
}

  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  input {
    width: 100%;
    padding: 20px;
    font-family: 'Sniglet', cursive;
    color: #6E6551;
  }
  
  .search-form {
    max-width: 400px;
    margin: 50px auto;
  }
  
  input.search {
    margin: 0;
    text-align: center;
    outline: 0;
    background: #FFFAF0;
    border: 2px solid #F7F7F7;
    width: 120%;
    left: -10%;
    position: relative;
    top: 10px;
    z-index: 2;
    border-radius: 5px;
    font-size: 30px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);
  }
  
  .suggestions {
    font-family: 'Sniglet', cursive;
    color: #6E6551;
    margin: 0;
    padding: 0;
    position: relative;
    /*perspective: 20px;*/
  }
  
  .suggestions li {
    background: #FFFAF0;
    list-style: none;
    border-bottom: 1px solid #FFFAF0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
    margin: 3px;
    padding: 20px;
    transition: background 0.2s;
    display: flex;
    justify-content: center;
    text-transform: capitalize;
  }
  
  .suggestions li:nth-child(even) {
    background: linear-gradient(to bottom,  #FFFAF0 0%,#f5f5f5 100%);
  }
  
  .suggestions li:nth-child(odd) {
    background: linear-gradient(to top,  #FFFAF0 0%,#f5f5f5 100%);
  }
  
  .hl {
    background: #FFE4B5;
  }

  @media only screen and (max-width: 1000px) {
    html{
        align-items: center;
        text-align: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-content: center;
    }
  }